@function vw($px) {
  @return (($px/2)/540)*100vw
}

.header:after {
  background: rgba(0, 0, 0, .0975);
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  bottom: -1px;
}

.header {
  z-index: 99;
  width: vw(1080);
  height: vw(125);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  .header-changeAvatar{
    width: 100vw;
    height: vw(125);
    position: absolute;
    text-align: center;
    line-height: vw(125);
    font-weight: bold;
    font-size: vw(43);
    span{
      position: absolute;
      left: vw(40);
      top: 50%;
      transform: translateY(-50%);
      width: vw(50);
      height: vw(50);
      display: inline-block;
      background: url("../../image/923d425c0489.png");
      background-size: vw(520*1.2);
      background-position-x: vw(-475*1.2);
      background-position-y: vw(-103*1.2);
    }
    p{
      position: absolute;
      right: vw(40);
      top: 0;
      color: #3c9cff;
    }
  }
  .header-sendPost{
    width: 100vw;
    height: vw(125);
    position: absolute;
    text-align: center;
    line-height: vw(125);
    font-weight: bold;
    font-size: vw(43);
    span{
      position: absolute;
      left: vw(40);
      top: 50%;
      transform: translateY(-50%);
      width: vw(50);
      height: vw(50);
      display: inline-block;
      background: url("../../image/923d425c0489.png");
      background-size: vw(520*1.2);
      background-position-x: vw(-475*1.2);
      background-position-y: vw(-103*1.2);
    }
    p{
      position: absolute;
      right: vw(40);
      top: 0;
      color: #3c9cff;
    }
  }
  .header-tips{
    position: absolute;
    width: 100vw;
    height: vw(125);
    text-align: center;
    line-height: vw(125);
    font-weight: bold;
    font-size: vw(43);
    span{
      position: absolute;
      left: vw(40);
      top: 50%;
      transform: translateY(-50%);
      width: vw(50);
      height: vw(50);
      display: inline-block;
      background: url("../../image/923d425c0489.png");
      background-size: vw(520*1.2);
      background-position-x: vw(-55*1.2);
      background-position-y: vw(-325*1.2);
    }
  }
  .header-home{
    width: 100vw;
    height: vw(125);
    .header-post{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: vw(40);
      width: vw(70);
      height: vw(70);
      background: url("../../image/923d425c0489.png") no-repeat;
      background-size: vw(520*1.32);
      background-position-x:vw(-370*1.32);
      background-position-y:vw(-197*1.32);
    }
    .header-logo{
      width: vw(158);
      height: vw(82);
      background: url("../../image/vike@0,1x.png") no-repeat;
      background-size: vw(158);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    .header-addfriend{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: vw(40);
      width: vw(70);
      height: vw(70);
      background: url("../../image/923d425c0489.png") no-repeat;
      background-size: vw(520*1.32);
      background-position-x:vw(3*1.32);
      background-position-y:vw(-375*1.32);
    }
  }

  .header-dynamic{
    font-size: vw(43);
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .header-comment{
    position: absolute;
    width: 100vw;
    height: vw(125);
    text-align: center;
    line-height: vw(125);
    font-weight: bold;
    font-size: vw(43);
    span{
      position: absolute;
      left: vw(40);
      top: 50%;
      transform: translateY(-50%);
      width: vw(50);
      height: vw(50);
      display: inline-block;
      background: url("../../image/923d425c0489.png");
      background-size: vw(520*1.2);
      background-position-x: vw(-55*1.2);
      background-position-y: vw(-325*1.2);
    }
  }
  .header-five{
    .header-option{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: vw(40);
      width: vw(70);
      height: vw(70);
      background: url("../../image/923d425c0489.png") no-repeat;
      background-size: vw(520*1.32);
      background-position-x:vw(-47.9*1.32);
      background-position-y:vw(-375*1.32);
    }
    .heacder-option-close{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: vw(40);
      width: vw(70);
      height: vw(70);
      background: url("../../image/923d425c0489.png") no-repeat;
      background-size: vw(520*1.32);
      background-position-x:vw(-472*1.32);
      background-position-y:vw(-102*1.32);
    }
    .header-aboutme{
      font-size: vw(43);
      font-weight: bold;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    .header-addfriend{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: vw(40);
      width: vw(70);
      height: vw(70);
      background: url("../../image/923d425c0489.png") no-repeat;
      background-size: vw(520*1.32);
      background-position-x:vw(3*1.32);
      background-position-y:vw(-375*1.32);
    }
  }

  .search-box{
    .header-search{
      width: vw(990);
      height: vw(80);
      border-radius: vw(15);
      border: 1px solid rgba(0, 0, 0, .0975);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #ffffff;
      input{
        font-size: vw(40);
        width: vw(800);
        height: vw(70);
        border: none;
        outline: none;
        position: absolute;
        left: vw(30);
        top: 50%;
        transform: translateY(-50%);
        background-color: #ffffff;
      }
      .header-prompt:before{
        background: url("../../image/923d425c0489.png");
        background-size: vw(518*1.5);
        background-position-x:vw(-494*1.5);
        background-position-y: vw(-220*1.5);
        position: absolute;
        content: '';
        left: vw(-50);
        top: 50%;
        transform: translateY(-50%);
        height: vw(35);
        width: vw(35);
      }
      .header-prompt{
        width: vw(80);
        text-align: center;
        font-size: vw(35);
        color: #999;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
    .close{
      display: none;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      font-size: vw(35);
      font-weight: bold;
    }
  }
}