@function vw($px) {
  @return (($px/2)/540)*100vw
}
.sendPost-page{
  width: 100vw;
  height: 100%;
  background: #fafafa;
  overflow: hidden;
  margin-top: vw(125);
  position:fixed;
  .sendPost-upIMG{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
    .changeSize{
      width: vw(100);
      height: vw(100);
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 105vw;
      border-radius: 50%;
      background: url("../../image/ad1ddfdf73c7.png");
      background-size: vw(178*1.6);
      background-position-x:vw(-117*1.6) ;
      background-position-y: 0;
    }
    .sendPost-upIMG-box{
      position: absolute;
      width: 100vw;
      height: 100vw;
      background: #eaeaea;
    }
    label{
      position: absolute;
      display: inline-block;
      width: 100vw;
      height: 100vw;
      background: #4dceff;
      background:url("../../image/addImage.png") no-repeat;
      background-position-x:50%;
      background-position-y:50% ;
      input{
        opacity: 0;
      }
      span{
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translateX(-50%);
        display: inline-block;
        font-size: vw(40);
        font-weight: 600;
        color: #99a2aa;
      }
    }
  }
  .sendPost-sub{
    width: 100vw;
    position: relative;
    .box{
      border-bottom:1px solid #efefef;
      width: 100vw;
      height: vw(270);
      background: #fff;
      position: relative;
      textarea{
        font-size: vw(40);
        padding: vw(20);
        resize: none;
        outline-style: none;
        border: none;
        position: absolute;
        height: vw(170);
        top: 50%;
        transform: translateY(-50%);
        left: vw(50);
      }
      img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: vw(50);
        width: vw(170);
        background: #ffffff;
      }
    }
    .label{
      width: 100vw;
      background: #fff;
      margin-top: vw(40);
      padding-left: vw(40);
      padding-right: vw(40);
      min-height: vw(100);
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
      padding-bottom: vw(20);
      &>span{
        display: inline-block;
        height: vw(80);
        font-size: vw(35);
        font-weight: bold;
        margin-right: vw(20);
        padding-left:vw(30);
        padding-right:vw(30);
        text-align: center;
        line-height: vw(80);
        background: #4dceff;
        border-radius: vw(50);
        margin-top: vw(20);
      }
      .input-box{
        position: relative;
        margin-top: vw(20);
        background: #efefef;
        width: vw(400);
        font-weight: bold;
        font-size: vw(35);
        padding-left: vw(30);
        padding-right: vw(30);
        text-align: center;
        line-height: vw(80);
        border-radius: vw(40);
        display: inline-block;
        height: vw(80);
        input{
          width: vw(400);
          background: none;
          border: none;
          list-style: none;
          outline: none;
        }
        div{
          width: vw(80);
          height: vw(80);
          position: absolute;
          top: 0;
          right: 0;
          background: url("../../image/add.png") no-repeat;
          background-size:vw(80) ;
        }
      }
    }
  }
  .input-box{

  }
}