@function vw($px) {
  @return (($px/2)/540)*100vw
}

.Comment-Box {
  width: 100vw;
  margin-bottom: vw(150);

  .Comment-input {
    width: 100vw;
    top: vw(125);
    height: vw(170);
    background: #efefef;
    position: fixed;
    z-index: 99;

    .Comment-input-ava {
      position: absolute;
      top: 50%;
      left: vw(50);
      transform: translateY(-50%);
      width: vw(100);
      height: vw(100);
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.16);

      img {
        width: vw(100);
      }
    }

    .Comment-inputtext {
      display: inline-block;
      padding: vw(30);
      background: #fff;
      border-radius: vw(70);
      height: vw(125);
      width: vw(800);
      position: relative;
      display: block;
      top: 2vw;
      left: vw(200);

      textarea {
        border: none;
        outline: none;
        position: absolute;
        line-height: vw(70);
        width: vw(650);
        font-size: vw(35);
        top: 50%;
        transform: translateY(-50%);
        height: vw(90);
        resize: none;
      }

      button {
        outline: none;
        font-weight: bold;
        font-size: vw(40);
        position: absolute;
        right: vw(30);
        top:50%;
        transform: translateY(-50%);
        color: #9c85ff;
        background: rgba(153, 153, 153, 0);
        border: none;
      }

      button:active {
        background: #bde9ff;
      }
    }
  }

  .Comment {
    width: 100vw;
    margin-top: vw(300);
    position: relative;

    .Comment-postText {
      position: relative;
      width: 100vw;
      border-bottom: 1px solid rgba(153, 153, 153, 0.25);
      .Comment-postText-avatar {
        position: absolute;
        top: vw(60);
        left: vw(50);
        width: vw(100);
        height: vw(100);
        border-radius: 50%;
        overflow: hidden;

        img {
          width: vw(100);
        }
      }

      .Comment-postText-text {
        font-size: vw(35);
        color: black;
        width: 75vw;
        position: relative;
        padding-top: vw(60);
        left: vw(200);
        padding-bottom: vw(80);

        a {
          font-size: vw(35);
          font-weight: bold;
          color: black;
        }
      }

      .Comment-postText-time {
        font-size: vw(36);
        color: #999;
        left: vw(200);
        position: absolute;
        bottom: vw(20);
        display: inline-block;
      }
      .Comment-Comment{
        font-size: vw(35);
        color: #999;
        left: vw(600);
        position: absolute;
        font-weight: bold;
        bottom: vw(20);
        display: inline-block;
      }
    }

    ul {
      .SingleComment {
        list-style: none;
        width: 100vw;
        //height: 100vw;
        //background: #4dceff;
        position: relative;

        .SingleComment-userAvatar {
          position: absolute;
          top: vw(60);
          left: vw(50);
          width: vw(100);
          height: vw(100);
          border-radius: 50%;
          overflow: hidden;

          img {
            width: vw(100);
          }
        }

        .SingleComment-text {
          font-size: vw(35);
          color: black;
          width: 70vw;
          position: relative;
          padding-top: vw(60);
          left: vw(200);
          padding-bottom: vw(80);

          a {
            font-size: vw(35);
            font-weight: bold;
            color: black;
          }
          .kkkkkkkkkkkkkkk{
            display: inline-block;
            max-width: vw(800);
          }

          .SingleComment-time {
            font-size: vw(35);
            color: #999;
            left: 0;
            bottom: 0;
            position: absolute;
            display: inline-block;
          }

          .SingleComment-likeNum {
            font-size: vw(35);
            color: #999;
            font-weight: 600;
            left: vw(400);
            bottom: 0;
            position: absolute;
            display: inline-block;
          }

          .SingleComment-reply {
            font-size: vw(35);
            color: #999;
            font-weight: 600;
            left: vw(550);
            bottom: 0;
            position: absolute;
            display: inline-block;
          }
        }

        .SingleComment-like {
          width: vw(35);
          height: vw(35);
          position: absolute;
          top: vw(70);
          right: vw(50);
          background: url("../../image/923d425c0489.png");
          background-size: vw(520*0.7);
          background-position-x: vw(-0*0.7);
          background-position-y: vw(-273*0.7);
        }

        .SingleComment-unlike {
          width: vw(35);
          height: vw(35);
          position: absolute;
          top: vw(70);
          right: vw(50);
          background: url("../../image/923d425c0489.png");
          background-size: vw(520*0.7);
          background-position-x: vw(-50*0.7);
          background-position-y: vw(-273*0.7);
        }

        .showReplyNum {
          position: relative;
          left: vw(200);
          margin-top: vw(30);
          font-size: vw(35);
          color: #999;

          span {
            display: inline-block;
            margin-bottom: vw(10);
            margin-right: vw(30);
            width: vw(100);
            height: 1px;
            background: #999;
          }
        }

        .unshowReplyNum {
          display: none;
        }
        ul{
          position: relative;
          width: 100vw;
          .SingleReply{
            position: relative;
            width: 100vw;
            //background: rgba(220,220,220,0.99);
            list-style: none;
            padding-bottom: vw(20);
          }
          .replyAvatar{
            position: absolute;
            top: vw(50);
            left: vw(200);
            width: vw(100);
            height: vw(100);
            border-radius: 50%;
            overflow: hidden;
            img{
              width: vw(100);
            }
          }
          .replyuser{
            //background: #4dceff;
            display: inline-block;
            width: vw(600);
            font-size: vw(35);
            color: black;
            margin-top: vw(50);
            margin-bottom: vw(60);
            position: relative;
            left: vw(330);
            a{
              color: black;
              font-weight:bold;
            }
            .replytext{
              font-size: vw(35);
            }
            .replyTime{
              font-size: vw(35);
              color: #999;
              left: 0;
              bottom: vw(-50);
              position: absolute;
              display: inline-block;
            }
            .reply{
              font-size: vw(35);
              color: #999;
              font-weight: 600;
              left: vw(420);
              bottom: vw(-50);
              position: absolute;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}