@function vw($px){
  @return (($px/2)/540)*100vw
}
.dynamic-page{
  width: 100vw;
  margin-top: vw(125);
  position: relative;
  .dynamicSingle{
    position: relative;
    width: 100vw;
    padding:0;
    padding-left: vw(70);
    padding-top: vw(10);
    margin-bottom: vw(40);
    font-size:vw(40);
    color: #000;
    .dynamicSingle-msg{
      width: 90vw;
      a{
        font-weight: bold;
        color: #000;
      }
    }
    .dynamicSingle-time{
      font-size: vw(35);
      color: #828282;
    }
  }
  .dynamicSingle:before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: vw(20);
    background-color: #1e3890;
    border-radius: 50%;
    width: vw(20);
    height: vw(20);
  }
}