@function vw($px) {
  @return (($px/2)/540)*100vw
}
.changePassword{
  width: 100vw;
  //height: 100vh;
  position: relative;
  .changePassword-input{
    width: 100vw;
    height: vw(160);
    font-size: vw(40);
    color: #000;
    font-weight: bold;
    position: relative;
    .password-text{
      font-size: vw(40);
      width: 70vw;
      height: vw(80);
      position: absolute;
      left: 50%;
      border:1px solid #d2d2d2;
      transform: translateX(-50%);
      border-radius: vw(20);
      background: #e0e0e0;
      outline: none;
      line-height: vw(100);
      text-align: center;
    }
    .tips{
      font-weight: normal;
      font-size: vw(30);
      color: #707070;
      width: 70;
      display: inline-block;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 60%;
    }
  }
  .changePassword-but{
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: vw(35);
    color: #fff;
    font-weight: bold;
    margin-top: vw(100);
    height: vw(90);
    span{
      border-radius: vw(20);
      position: absolute;
    }
    .changePassword-but-close{
      width: vw(130);
      display: inline-block;
      text-align: center;
      line-height: vw(90);
      background: #1ea1ff;
      height: vw(90);
      top: 0;
      right: vw(250);
    }
    .changePassword-but-sub{
      width: vw(190);
      height: vw(90);
      display: inline-block;
      text-align: center;
      line-height: vw(90);
      right: 0;
      top: 0;
    }
  }
  .changePassword-float{
    bottom: 0;
    position: relative;
    width: 70vw;
    height: vw(300);
    left: 50%;
    transform: translateX(-50%);
    margin-top: vw(100);
    border-radius: vw(20);
    color: #000;
    //border: 1px solid #888888;
    //background: rgba(86,86,86,0.53);
    text-align: center;
    line-height: vw(300);
  }
}