@function vw($px) {
  @return (($px/2)/540)*100vw
}
.Placeholder-chart{
  width: 100vw;
  height: vw(250);
  background: #f2f2f2;
  border-radius: vw(20);
  span{
    width: 80vw;
    height: vw(40);
    background: #fafafa;
    display: inline-block;
    margin-left: vw(50);
    margin-top: vw(50);
    border-radius: vw(10);
  }
}